{
    "extends": "airbnb-base",
    "env": {
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
            "modules": false
        }
    },
    "rules": {
        "padded-blocks": 0
    }
}